/* universal styles */
* {
    margin: 0;


}

/* common shared styles */
body {
    font-family: "Open Sans", system-ui;

}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border: 0;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
}

.section-title {
    color: rgb(24, 24, 24);
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}

.section-description {
    padding: 30px 0;
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}


/* header */
/* header related styles */
.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

/* navber section */
nav {
    margin: 0 200px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;

}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    margin-right: 50px;
    list-style: none;
}

nav a {
    color: #474747;
    text-decoration: none;
}

/* banner */
.banner {
    padding: 30px 30px 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    width: 585px;
    height: 60px;
}

.banner-greeting {
    color: rgb(71, 71, 71);
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    color: rgb(24, 24, 24);
    font-size: 85px;
    font-weight: 700;


}

.banner p {
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: 400;
    margin: 25px 0;

}

.banner .profile-pic {
    width: 584px;
}


/* Main Section Styles */
/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin: 130px;
}

/* about section */
.about {
    margin: 130px 0;
    padding: 130px;
    border-radius: 10px;
    background-color: rgb(255, 248, 243);
}

.about-info-container {
    display: flex;
    justify-content: space-around;
    /* margin-right: 50px; */
}

.about-info {
    text-align: center;
}

/* what i do section */

#what-i-do-description {
    padding: 30px 115px;
}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;

    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px #0000000f;
    background: #ffffff;
}

/* A summary of My Resume */

/* resume container */
.resume-column-title {
    color: rgb(71, 71, 71);
    font-size: 30px;
    font-weight: 700;
}

.resume-container {
    display: flex;
    justify-content: space-around;
    gap: 70px;
}

.resume-item-institution {
    padding: 15px 0;
    color: rgb(117, 117, 117);
    font-size: 20px;
    font-weight: 600;
}

.resume-itme-info {
    color: rgb(117, 117, 117);

    font-size: 16px;
    font-weight: 400;
}

.resume-container hr {
    margin: 30px 0;
    border: 1px solid #d1d1d1;
}
.download-cv {
    text-align: center;
    margin-top: 50px;
}

/* footer styles */
footer {
    display: flex;
    background-color: #FFF8F3;
    padding: 130px 230px;
}