/* universal styles */
/* * {
    margin: 0;

} */

/* common shared styles */
body {
    font-family: "Open Sans", system-ui;

}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border: 0;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
}

/* header */
/* header related styles */
.header {
    background-color: #FFF8F3;
}
/* navber section */
nav {
    margin: 0 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    margin-right: 50px;
    list-style: none;
}

nav a {
    color: #474747;
    text-decoration: none;
}

/* banner */
.banner {
    padding: 30px 30px 30px 150px;
}